:root {
	color-scheme: dark;
	--00dp-backgroung-color: rgb(18, 18, 18);
	--01dp-background-color: rgba(255, 255, 255, 0.05);
	--02dp-background-color: rgba(255, 255, 255, 0.07);
	--03dp-background-color: rgba(255, 255, 255, 0.08);
	--04dp-background-color: rgba(255, 255, 255, 0.09);
	--06dp-background-color: rgba(255, 255, 255, 0.11);
	--08dp-background-color: rgba(255, 255, 255, 0.12);
	--12dp-background-color: rgba(255, 255, 255, 0.14);
	--16dp-background-color: rgba(255, 255, 255, 0.15);
	--24dp-background-color: rgba(255, 255, 255, 0.16);

	--primary-button-color: #6002EE;
	--complimentary-button-color: #90ee02;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Roboto,'Courier New', Courier, monospace;
	color: rgb(235, 235, 235);
	padding-inline-start: 0px;
}

html {
	height: 100%;
	width: 100%;
	background-color: var(--00dp-backgroung-color);
}

body {
	height: 100%;
	overflow: hidden;
}

header {
	/* background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(/images/header-picture.jpg); */
	background-color: var(--01dp-background-color);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 60px;
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);
}


header nav {
	display: flex;
	justify-content: space-between;
}

#button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	border-radius: 7px;
	overflow: hidden;
}

button,
.button {
	font-size: large;
	background: linear-gradient( rgba(0, 0, 0, 0) 95%, var(--primary-button-color) 5%);
	background-size: 100% 200%;
	transition: background .3s;
	width: 15rem;
	height: 3rem;
	margin: 1rem;
	border-radius: 5px;
	border: none;
}

.button:hover{
	background-color: var(--01dp-background-color);
}

.button-active{
	background-position: bottom;
}

main {
	display: flex;
	height: 95vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	scroll-behavior: smooth; 
	overflow: scroll;
	overflow-x: hidden;
	padding: 2rem 2rem 2rem 2rem;
	scroll-snap-type: y mandatory;
}

.card {
	/* flex-grow: 1; */
	width: 100%;
	min-height: 100%;
	padding: 1rem;
	margin-bottom: 2rem;
	scroll-snap-align: center;
	scroll-snap-stop: always;

		/* border: 1px solid red; */
}

#section-one {
	display: flex;
	align-items: center;
	justify-content: center;
}

#about-profile-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 500px;
	height: 500px;
}

#about-content-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 500px;
	height: 500px;
}

#about-content {
	font-size: 1.5rem;
}

.bottom-card {
	margin-bottom: 0;
}

#profile-picture-container {
	display: flex;
	height: 400px;
	width: 400px;
	margin: 1rem;
	overflow: hidden;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	padding: 1rem;
	border: 10px solid var(--01dp-background-color);
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);
}

#profile-picture {
	height: 535px;
	margin-top: 20px;
}

#section-two {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-elevated {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--01dp-background-color);
	border-radius: 7px;
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);

	height: 600px;
	/* width: 1000px; */
		/* border: 1px solid red; */

}

#work-part-one {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: 500px;
	width: 500px;

}

#work-part-two {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	height: 500px;
	width: 500px;

}

#mattermost-image {
	margin-top:2rem;
	height: 50px;
	width: auto;
}

	/* border: 1px solid red; */