:root {
	color-scheme: dark;
	--00dp-backgroung-color: rgb(18, 18, 18);
	--01dp-background-color: rgb(34, 34, 34);
	--02dp-background-color: rgba(255, 255, 255, 0.07);
	--03dp-background-color: rgba(255, 255, 255, 0.08);
	--04dp-background-color: rgba(255, 255, 255, 0.09);
	--06dp-background-color: rgba(255, 255, 255, 0.11);
	--08dp-background-color: rgba(255, 255, 255, 0.12);
	--12dp-background-color: rgba(255, 255, 255, 0.14);
	--16dp-background-color: rgba(255, 255, 255, 0.15);
	--24dp-background-color: rgba(255, 255, 255, 0.16);

	--primary-button-color: #6002EE;
	--complimentary-button-color: #90ee02;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Roboto,'Courier New', Courier, monospace;
	color: rgb(235, 235, 235);
	padding-inline-start: 0px;
}

html {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: var(--00dp-backgroung-color);
}

body {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	background-color: var(--01dp-background-color);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 4rem;
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);
}

header nav {
	display: flex;
}

#button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	border-radius: 7px;
	overflow: hidden;
}

button,
.button {
	font-size: large;
	background: linear-gradient( rgba(0, 0, 0, 0) 95%, var(--primary-button-color) 5%);
	background-size: 100% 200%;
	transition: background .3s;
	width: 15rem;
	height: 3rem;
	margin: 1rem;
	border-radius: 5px;
	border: none;
}

.button-active{
	background-position: bottom;
}

.button::selection {
	background-color: transparent;
}

main {
	display: flex;
	height: calc(100vh - 4rem) ;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	flex-shrink: 1;
	flex-grow: 1;
	scroll-behavior: smooth; 
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 2rem 2rem 2rem 2rem;
	scroll-snap-type: y mandatory;
}

.card {
	width: 100%;
	padding: 1rem;
	margin-bottom: 2rem;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

#section-one {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 50rem;
	min-width: 0;
	min-height: 100%;
}

#about-profile-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 500px;
	height: 500px;
}

#about-content-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 500px;
	height: 500px;
}

#about-content {
	font-size: 1.5rem;
}

#profile-picture-container {
	display: flex;
	height: 400px;
	width: 400px;
	margin: 1rem;
	overflow: hidden;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	min-width: 200px;
	padding: 1rem;
	border: 10px solid var(--01dp-background-color);
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);
} 

#profile-picture {
	height: 535px;
	margin-top: 20px;
}

#section-two {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 70rem;
	min-height: 100%;
	min-width: 0;
}

.card-elevated {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--01dp-background-color);
	border-radius: 7px;
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);
	height: 600px;
}

#work-card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 60rem;
	flex-wrap: wrap;
	flex-grow: 1;
}

#work-card-one {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 20rem;
	min-height: 15rem;
	background-color: var(--01dp-background-color);
	border-radius: 7px;
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);
	margin: 1rem;
	flex: 1 1 60rem;
	text-align: center;
}

#that-messaging-app {
	height: 15rem;
	width: auto;
}

.wrap-class {
	min-width: 20rem;
	min-height: 15rem;
	flex: 1 1 15rem;
	margin: 1rem;
}

.smaller-work-card {
	background-color: var(--01dp-background-color);
	border-radius: 7px;
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);
	padding: 1rem
}

.that-image-container {
	flex: 1 1 20rem;
	padding: 1rem;
}

.that-text-container {
	flex: 1 1 20rem;
	padding: 1rem;
}

.app-tag {
	background-color: #ee0290;
	border-radius: 3px;
	padding: .2rem .5rem;
}

.host-tag {
	background-color: #ee6002;
	border-radius: 3px;
	padding: .2rem .5rem;
}

#audio {
	height: 4rem;
	width: auto;
}

#work-card-three {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.audio-image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 2 3rem;
}

.audio-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 2 5rem;
	padding: 1rem;
}

#work-card-four {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.mattermost {
	height: 3rem;
	width: auto;
}

#work-card-five {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.jitsi {
	height: 5rem;
	width: auto;
}

#work-card-six {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.nextcloud {
	height: 6rem;
	width: auto;
}

#section-three {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	flex-grow: 1;
	flex-basis: 45rem;
	min-width: 0;
	min-height: 100%;
}

#contact-form-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40rem;
	width: 40rem;
	background-color: var(--01dp-background-color);
	border-radius: 7px;
	box-shadow: 0px 1px 17px -5px rgba(0,0,0,0.75);
	padding: 1rem
}

#contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#contact-form input, #contact-form textarea, #contact-form button {
	margin: 1rem;
	padding: 1rem;
	width: 100%;
}

#contact-form input, #contact-form textarea, #contact-form button {
	border: 1px solid var(--01dp-background-color);
	border-radius: 7px;
}

#contact-form label {
	text-align: start;
}

#social {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#octocat {
	height: 3rem;
	width: auto;
}

#linkedin {
	height: 3rem;
	width: auto;
}

@media (max-width: 814px) {
	main {
		scroll-snap-type: none;
	}
	button,
	.button {
		width: 7rem;
		height: 3rem;
	}
	/* #about-profile-picture {
		margin-top: -10rem;
	} */

	#about-content-container {
		margin-top: -7rem;
	}
	#section-one {
		min-height: 100%;
	}
	#section-two {
		min-height: 150%;
		flex-basis: 110rem;
	}
}
@media (max-height: 1000px) {
	main {
		scroll-snap-type: none;
	}
}